<html>
<head>
  <title>Checkout Example</title>
</head>
<body>
<form action="/charge" method="post" class="payment">
  <article>
    <label class="amount">
      <span>Amount: EUR 20.00</span>
    </label>
  </article>

  {{ .csrfField }}
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ .Key }}"
    data-description="Registration"
    data-amount="2000"
	data-currency="EUR"
    data-locale="auto"
	data-email="{{ .Email }}"
	data-zip-code="true"></script>
</form>
</body>
</html>
