<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Create new Convention</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body class="bg-light">
    <div class="container">
      <div class="py-5 text-center">
        <h2>New Convention</h2>
        <p class="lead">omg.</p>
      </div>
        <div class="col-md-8 mx-auto order-md-1">
          <h4 class="mb-3">Enter details below</h4>
		    <form class="needs-validation" id="register" action="/new_convention" method="post" novalidate>
		    {{ .csrfField }}
			<div class="row">
              <div class="col-md-12 mb-3">
                <label for="firstName">Year</label>
                <input type="text" class="form-control required" id="Year" name="Year" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
			</div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="Cost">Cost</label>
                <input type="text" class="form-control required" id="Cost" name="Cost" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="Currency_Code">Currency Code</label>
                <input type="text" class="form-control required" id="Currency_Code" name="Currency_Code" placeholder="EUR">
                <div class="invalid-feedback">
                  Please enter a valid email address so we can send you convention details.
                </div>
              </div>
			</div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="Country">Country</label>
                <select name="Country" id="Country" class="custom-select d-block w-100 form-control medium valid">{{ range $i, $country := .Countries }}
                  <option value="{{ inc $i }}">{{ $country }}</option>{{ end }}
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="City">City</label>
                <input type="text" class="form-control" id="City" name="City" placeholder="" required="">
              </div>
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Create Convention</button>
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2018</p>
      </footer>

	  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
