<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Test</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body class="bg-light">
    <div class="container">
      <div class="py-5 text-center">
        <h2>Test</h2>
        <p class="lead">{{ .Name }} {{ .Year }} - {{ .City }}, {{ .Country }}</p>
      </div>

        <div class="col-md-8 mx-auto order-md-1">
          <h4 class="mb-3">Test</h4>
		    <form class="needs-validation" id="register" action="/signup" method="post" novalidate>
		    {{ .csrfField }}
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="email">Test</label>
                <input type="email" class="form-control required" id="Email_Address" name="Email_Address" placeholder="you@example.com">
                <div class="invalid-feedback">
                  Test
                </div>
              </div>
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Test</button>
          </form>
        </div>
      </div>

	  <div class="container">
      <div class="py-5">
      <div class="col-md-8 mx-auto order-md-1">
	  <p>We know many love EURYPAA, but some can’t make it (which sucks). If you would like to support the convention, please feel free to donate 1 or more registrations for newcomers and help support the event.</p>
	  <p>Each €20 donated will go towards one registration. <a href="https://www.paypal.me/eurypaa2019">Click here to Donate</a></p>
	  </div>
	  </div>
	  </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2020</p>
      </footer>

	  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
